<h2>Your Cart</h2>

<p *ngIf="cartService.getItems().length === 0">
  Too bad nothing is here yet. Go add some products!
</p>

<app-cart-item
  *ngFor="let item of cartService.getItems()"
  [item]="item"
  (increase)="increase(item)"
  (decrease)="decrease(item)"
  (remove)="remove($event)"
></app-cart-item>


<h3>Total: {{ cartService.getTotal() | currency:'ILS' }}</h3>
<hr />

<form class="checkout-form" (ngSubmit)="placeOrder()">

  <div class="form-field">
    <label>First Name</label>
    <input [(ngModel)]="customerFirstName" name="fn" />
    <small *ngIf="customerFirstName && customerFirstName.length < 3">
      Minimum 3 characters
    </small>
  </div>

  <div class="form-field">
    <label>Last Name</label>
    <input [(ngModel)]="customerLastName" name="ln" />
    <small *ngIf="customerLastName && customerLastName.length < 3">
      Minimum 3 characters
    </small>
  </div>

  <div class="form-field">
    <label>Email</label>
    <input [(ngModel)]="customerEmail" name="em" />
    <small *ngIf="customerEmail && !customerEmail.includes('@')">
      Enter a valid email
    </small>
  </div>

  <div class="form-field">
    <label>Delivery Address</label>
    <input [(ngModel)]="customerAddress" name="ad" />
    <small *ngIf="customerAddress && customerAddress.length < 10">
      Minimum 10 characters
    </small>
  </div>

  <div class="form-field">
    <label>Payment Method</label>

    <div class="radio-group">
      <label>
        <input
          type="radio"
          value="cash"
          [(ngModel)]="paymentMethod"
          name="pm"
        />
        Cash on Delivery
      </label>

      <label>
        <input
          type="radio"
          value="card"
          [(ngModel)]="paymentMethod"
          name="pm"
        />
        Bank Card
      </label>
    </div>
  </div>

  <div *ngIf="paymentMethod === 'card'">
    <div class="form-field">
      <label>Card Number</label>
      <input [(ngModel)]="cardNumber" name="cn" />
      <small *ngIf="cardNumber && cardNumber.length != 16">
        Card number should be 16 digits
      </small>
    </div>

    <div class="form-field">
      <label>Card Holder</label>
      <input [(ngModel)]="cardHolder" name="ch" />
      <small *ngIf="cardHolder && cardHolder.length < 3">
        Enter a valid card holder name
      </small>
    </div>

    <div class="form-field">
      <label>CVV</label>
      <input [(ngModel)]="cvv" maxlength="4" pattern="[0-9]*" inputmode="numeric" name="cvv" />
      <small *ngIf="cvv && cvv.length < 3 || cvv.length > 4">
        Enter a valid CVV
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="submit-btn"
    [disabled]="isFormInvalid()"
  >
    Place Order
  </button>

</form>
