header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--header);

  background-color: var(--bg);
  box-shadow: 0 3px 6px -2px var(--header-border);
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.badge {
  background: crimson;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}
