<div class="cart-item">
  <a [routerLink]="['/products', item.product.id]" class="product-link">
    <img [src]="item.product.image_url" />
  </a>

  <a
    [routerLink]="['/products', item.product.id]"
    class="name product-link"
  >
    {{ item.product.name }}
  </a>

  <div class="quantity">
    <button
      class="qty-btn"
      (click)="onDecrease()"
      [disabled]="item.quantity === 1"
    >
      −
    </button>

    <span class="qty-value">{{ item.quantity }}</span>

    <button class="qty-btn" (click)="onIncrease()">+</button>
  </div>

  <span class="price">
    {{ item.product.price | currency:'ILS' }}
  </span>

  <button class="remove" (click)="onRemove()">
    Remove
  </button>
</div>
